local.properties

*.iml
.idea/
.gradle/
build/
captures/

.DS_Store
.settings/



/.gradle/
/.idea/
/build/
/captures/
/codeStyleSettings.xml

*.iml
*.project
*.classPath

/app/.settings/
/app/build/

/custom-checkstyle/.settings/
/custom-checkstyle/build/

/lintlib/.settings/
/lintlib/build/

/lintrules/.settings/
/lintrules/build/


/macrosupport/.settings/
/macrosupport/build/

/ShortcutBadger/.settings/
/ShortcutBadger/build/

/testing_gallery/.settings/
/testing_gallery/build/

/wire-core/.settings/
/wire-core/build/

/wire-ui/.settings/
/wire-ui/build/

/secretapp/.settings/
/secretapp/build/

/project/scala-2.12/
/project/streams/
/project/target/

/zmessaging/src/main/java/com/waz/model/nano/Messages.java
/zmessaging/.externalNativeBuild/ndkBuild/
