<!--

    Wire
    Copyright (C) 2019 Wire Swiss GmbH

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jsy.secret"
          android:sharedUserId="${sharedUserId}"
          tools:ignore="MissingRegistered"
>

    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <!-- See if device is connected to a network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Cache user data -->
    <!-- File Sharing -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>
    <!-- Communicate with backend servers -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Read contacts, needed to populate people picker -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Needed for audio calls -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Vibrate to notify user -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Needed for taking photos when setting profile image or sending images -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- get phone number for contact matching -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- needed to switch between speaker/earpiece -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Allows showing incoming call when device is sleeping -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- GCM from Localytics TODO still needed? -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--for Samsung-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <!--for htc-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <!--for sony-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <!--for apex-->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <!--for solid-->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <!--for huawei-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <!--for OPPO-->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <!--for EvMe-->
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />
    <!--for vivo-->
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="org.adw.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adw.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.qihoo360.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.lge.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.lge.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="net.qihoo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="net.qihoo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="org.adwfreak.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adwfreak.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="org.adw.launcher_donut.permission.READ_SETTINGS" />
    <uses-permission android:name="org.adw.launcher_donut.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.fede.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.fede.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.twlauncher.settings.READ_SETTINGS" />
    <uses-permission android:name="com.sec.android.app.twlauncher.settings.WRITE_SETTINGS" />
    <uses-permission android:name="com.anddoes.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.anddoes.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.tencent.qqlauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.tencent.qqlauncher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.mylauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.mylauncher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.ebproductions.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.ebproductions.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="telecom.mdesk.permission.READ_SETTINGS" />
    <uses-permission android:name="telecom.mdesk.permission.WRITE_SETTINGS" />
    <uses-permission android:name="dianxin.permission.ACCESS_LAUNCHER_DATA" />


    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI"/>
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI"/>

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
            android:name="com.waz.zclient.ZApplication"
            android:allowBackup="false"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:icon="${applicationIcon}"
            android:label="${applicationLabel}"
            android:theme="@style/SecretAppThemeLight0"
            android:vmSafeMode="${applicationVmSafeMode}"
            android:requestLegacyExternalStorage="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:largeHeap="true"
            tools:replace="android:allowBackup,android:name,android:label">

        <uses-library android:name="org.apache.http.legacy"
                      android:required="false"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <meta-data
            android:name="android.notch_support"
            android:value="true"/>

        <activity
                android:name="com.waz.zclient.MainActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:hardwareAccelerated="true"
                android:exported="true"
                android:launchMode="singleTask"
                android:theme="@style/SecretAppThemeLight1"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data
                    android:host="password-reset-successful"
                    android:scheme="${customURLScheme}" />

                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.VIEW"/>
            </intent-filter>

        </activity>

        <activity
                android:name="com.waz.zclient.appentry.AppEntryActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:theme="@style/Theme.Dark"
                android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <activity
                android:name="com.waz.zclient.LaunchActivity"
                android:label="@string/app_name"
                android:noHistory="true"
                android:theme="@style/Theme.Light"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:host="email-verified"
                      android:scheme="${customURLScheme}" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="connect"
                    android:scheme="${customURLScheme}" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.waz.zclient.ConversationActivity"
                android:launchMode="singleTask"
                android:theme="@style/SecretAppThemeLight0"
                android:windowSoftInputMode="stateHidden"
                android:configChanges="screenSize|keyboardHidden|orientation"
                android:screenOrientation="portrait"/>

        <receiver
            android:name="com.waz.zclient.broadcast.ReferralBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
                android:name="com.waz.content.WireContentProvider"
                android:authorities="${applicationId}"
                android:exported="false"
                android:grantUriPermissions="true"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <!--Disable tracking in the FCM core-->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <!-- Internal features from SE -->
        <meta-data android:name="INTERNAL" android:value="${internal_features}"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBA1m9faI3-P4sP6S9B_JH3XTNIxHBz2Qg"/>

        <service
                android:name="com.waz.services.fcm.FCMHandlerService"
                android:exported="true"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.waz.services.websocket.OnBootAndUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="com.waz.services.websocket.OnBootAndUpdateBroadcastReceiver.ACTION"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.waz.zclient.broadcast.AppShortCutReceiver"/>
        <service android:name="com.waz.services.websocket.WebSocketService"
                 android:exported="false"
        />

        <!--For Evernote Background jobs-->
        <service
                android:name="com.evernote.android.job.gcm.PlatformGcmService"
                android:enabled="true"
                tools:replace="android:enabled"
                android:exported="true"
                android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service
                android:name="com.evernote.android.job.JobRescheduleService"
                android:exported="false"/>

        <service
                android:name="com.evernote.android.job.v21.PlatformJobService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
                android:name="com.evernote.android.job.v14.PlatformAlarmService"
                android:exported="false"/>

        <receiver
                android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
                android:exported="false">
            <intent-filter>
                <!-- Keep the filter for legacy intents -->
                <action android:name="com.evernote.android.job.v14.RUN_JOB"/>
                <action android:name="net.vrallev.android.job.v14.RUN_JOB"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name="com.evernote.android.job.JobBootReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.waz.services.calling.CallingNotificationsService" />
        <service android:name="com.waz.services.calling.CallWakeService" android:exported="true" />
        <service android:name="com.waz.services.notifications.NotificationsHandlerService" />

    </application>

</manifest>
